server:
  port: 8082
  servlet:
    encoding:
      charset: UTF-8
      enabled:
        force: true

spring:
  application:
    name: openapi
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

openapi:
  datagokr:
    serviceKey: ibhl3JWeAa4iF49LPIZu6n9K+w4jdSj8PYAh02BkoMDmYFfqmE2xVx2SZn+NLq1P4pb6dhEaYPMN+d/ZFk63iA==
  kosiskr:
    serviceKey: YThjNGU4OTUyNzJhM2UyMzEzYzZiNGFjNWIyOWU3OTM=